body {
	background-image: url("https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg");
	background-repeat: no-repeat;
	background-size: 100%;	
	font-family: 'Roboto', sans-serif;
	color: white;
	margin: 0px;
}
.contenedor {
	position: fixed;
	top: 150px;
	left: 50px;
	width: 600px;
	background-color: rgb(48,48,48,0.7);
	border-radius: 10px;
	padding: 20px;
	margin-right: 50px;
}

button {
	background-color: #DB3030;
	border: 0px;
	color: white;
}

@media screen and (max-width: 668px) {
	body {
		background-size: 668px 445px;
	}

.contenedor {
	width: auto;
	}

}
